.next
package.json
package-lock.json
yarn.lock
dist
node_modules
yarn.lock
package-lock.json
yarn.lock
public
.eslintrc.json
.prettierrc.json
declaration.d.ts
next.config.js
tsconfig.json
tsconfig.tsbuildinfo